CRIANDO UMA TUPLA: elas assim como as listas armaeza tipos variados de dados

In [4]:
[] 

1, 2, 3

nome = 'Passet'
valor = 13400
[nome,valor]

nomes_carros = ['Jetta','Classic','Gol']
nomes_carros

type(nomes_carros)

['Jetta', 'Classic', 'Gol']

SELEÇÕES EM TUPLAS

In [8]:
nomes_carros = ('Jetta','Classic','Gol','hb20','siena')
nomes_carros

('Jetta', 'Classic', 'Gol', 'hb20', 'siena')

In [9]:
nomes_carros[1] #acessa o primeiro item

'Classic'

In [10]:
nomes_carros[1:3] #fazer islais

('Classic', 'Gol')

In [12]:
#acessar informação dentro da utima tupla
nomes_carros[-1]

'siena'

In [14]:
#tupla dentro de outra tupla
nomes_carros = ('Jetta','Classic','Gol','hb20','siena',('fusca','hilux','cobat'))
nomes_carros

('Jetta', 'Classic', 'Gol', 'hb20', 'siena', ('fusca', 'hilux', 'cobat'))

In [15]:
nomes_carros[-1][-1]

'cobat'

INTERAÇÕES COM TUPLAS